mixin speech
  section.speech
    h3.speech__title= speech.title

    ol.speech__list
      each item in speech.list
        .speech__item
          if item.place
            a(href=item.link)= `${item.title}, ${item.place}`
          else
            a(href=item.link)= item.title
