include components/home/home
include components/footer/footer

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,viewport-fit=cover")
    meta(http-equiv="x-ua-compatible" content="ie=edge")

    link(rel="stylesheet" href=`./style/index.css`)

    title= site_name
    meta(name="description" content=description)
    meta(name="keywords" content=keywords.join(', '))

    link(rel="icon" href="./icon/logo.svg" type="image/svg+xml")
    link(rel="apple-touch-icon" href="./icon/apple-touch-icon.png")
    link(rel="manifest" href="./manifest.json")
    meta(name="theme-color" content="#274068")

    meta(name="twitter:creator" content=twitter)
    meta(property="og:locale" content="ru_RU")
    meta(property="og:type" content="website")

  body
    +home
    +footer
